<div class="container">
    <% var count = 0; %>
        <%for(var i=0;i<obj.length; i++){%>
            <%if(obj[i].prediction == 1){%>
                <%count++; }}%>
                    <%if(count>= 4){%>
                        <% count= 1;} else {count =0} ;%>
                            <h1>The majority of our 7 classifiers reported admissibility status of the transaction as:
                                <%=count%>
                            </h1>


</div>